# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [16]:
import pandas as pd


# URL'den CSV dosyasını oku
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)

print(insurance_df.index)
print(insurance_df.columns)

#customer lifetime value could be an intiger and 1288743.17% could this kind of rate be true?
#Number of Open Complaints - Number of complaints the customer opened looks like string but it should be also intiger
#

insurance_df.info()

RangeIndex(start=0, stop=4008, step=1)
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [35]:
#insurance_not_apporopiate_df =insurance_df[["Customer Lifetime Value", "Number of Open Complaints"]]
#print(insurance_not_apporopiate_df.head(60))
#print(insurance_df.tail(30))

     Customer   ST GENDER Education Customer Lifetime Value  Income  \
3978      NaN  NaN    NaN       NaN                     NaN     NaN
3979      NaN  NaN    NaN       NaN                     NaN     NaN
3980      NaN  NaN    NaN       NaN                     NaN     NaN
3981      NaN  NaN    NaN       NaN                     NaN     NaN
3982      NaN  NaN    NaN       NaN                     NaN     NaN
3983      NaN  NaN    NaN       NaN                     NaN     NaN
3984      NaN  NaN    NaN       NaN                     NaN     NaN
3985      NaN  NaN    NaN       NaN                     NaN     NaN
3986      NaN  NaN    NaN       NaN                     NaN     NaN
3987      NaN  NaN    NaN       NaN                     NaN     NaN
3988      NaN  NaN    NaN       NaN                     NaN     NaN
3989      NaN  NaN    NaN       NaN                     NaN     NaN
3990      NaN  NaN    NaN       NaN                     NaN     NaN
3991      NaN  NaN    NaN       NaN                     NaN     NaN
3992      NaN  NaN    NaN       NaN                     NaN     NaN
3993      NaN  NaN    NaN       NaN                     NaN     NaN
3994      NaN  NaN    NaN       NaN                     NaN     NaN
3995      NaN  NaN    NaN       NaN                     NaN     NaN
3996      NaN  NaN    NaN       NaN                     NaN     NaN
3997      NaN  NaN    NaN       NaN                     NaN     NaN
3998      NaN  NaN    NaN       NaN                     NaN     NaN
3999      NaN  NaN    NaN       NaN                     NaN     NaN
4000      NaN  NaN    NaN       NaN                     NaN     NaN
4001      NaN  NaN    NaN       NaN                     NaN     NaN
4002      NaN  NaN    NaN       NaN                     NaN     NaN
4003      NaN  NaN    NaN       NaN                     NaN     NaN
4004      NaN  NaN    NaN       NaN                     NaN     NaN
4005      NaN  NaN    NaN       NaN                     NaN     NaN
4006      NaN  NaN    NaN       NaN                     NaN     NaN
4007      NaN  NaN    NaN       NaN                     NaN     NaN

      Monthly Premium Auto Number of Open Complaints Policy Type  \
3978                   NaN                       NaN         NaN
3979                   NaN                       NaN         NaN
3980                   NaN                       NaN         NaN
3981                   NaN                       NaN         NaN
3982                   NaN                       NaN         NaN
3983                   NaN                       NaN         NaN
3984                   NaN                       NaN         NaN
3985                   NaN                       NaN         NaN
3986                   NaN                       NaN         NaN
3987                   NaN                       NaN         NaN
3988                   NaN                       NaN         NaN
3989                   NaN                       NaN         NaN
3990                   NaN                       NaN         NaN
3991                   NaN                       NaN         NaN
3992                   NaN                       NaN         NaN
3993                   NaN                       NaN         NaN
3994                   NaN                       NaN         NaN
3995                   NaN                       NaN         NaN
3996                   NaN                       NaN         NaN
3997                   NaN                       NaN         NaN
3998                   NaN                       NaN         NaN
3999                   NaN                       NaN         NaN
4000                   NaN                       NaN         NaN
4001                   NaN                       NaN         NaN
4002                   NaN                       NaN         NaN
4003                   NaN                       NaN         NaN
4004                   NaN                       NaN         NaN
4005                   NaN                       NaN         NaN
4006                   NaN                       NaN         NaN
4007                   NaN                       NaN         NaN

     Vehicle Class  Total Claim Amount
3978           NaN                 NaN
3979           NaN                 NaN
3980           NaN                 NaN
3981           NaN                 NaN
3982           NaN                 NaN
3983           NaN                 NaN
3984           NaN                 NaN
3985           NaN                 NaN
3986           NaN                 NaN
3987           NaN                 NaN
3988           NaN                 NaN
3989           NaN                 NaN
3990           NaN                 NaN
3991           NaN                 NaN
3992           NaN                 NaN
3993           NaN                 NaN
3994           NaN                 NaN
3995           NaN                 NaN
3996           NaN                 NaN
3997           NaN                 NaN
3998           NaN                 NaN
3999           NaN                 NaN
4000           NaN                 NaN
4001           NaN                 NaN
4002           NaN                 NaN
4003           NaN                 NaN
4004           NaN                 NaN
4005           NaN                 NaN
4006           NaN                 NaN
4007           NaN                 NaN

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

**- Identify the dimensions of the dataset by determining the number of rows and columns it contains.**

**- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.**

**- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.**

**- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.**

- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [44]:
import pandas as pd
# Reading the CSV fil efrom URL
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)

#Find how many line are there in insurance_df
print(insurance_df.index)

#Find which columns are there in insurance_df
print(insurance_df.columns)

#I copied the columns that could have inappropriate data typse in another data base
insurance_not_appropriate_df =insurance_df[["Customer Lifetime Value", "Number of Open Complaints"]]

print(insurance_not_appropriate_df.head(60))
print(insurance_df.head(30))
#customer lifetime value could be an intiger and 1288743.17% is a great big rate, could this kind of rate be true? Maybe we should remove the "%"
#Number of Open Complaints - Number of complaints the customer opened looks like string but it should be also intiger


insurance_df.info()

RangeIndex(start=0, stop=4008, step=1)
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
   Customer Lifetime Value Number of Open Complaints
0                      NaN                    1/0/00
1               697953.59%                    1/0/00
2              1288743.17%                    1/0/00
3               764586.18%                    1/0/00
4               536307.65%                    1/0/00
5               825629.78%                    1/0/00
6               538089.86%                    1/0/00
7               721610.03%                    1/0/00
8              2412750.40%                    1/0/00
9               738817.81%                    1/0/00
10              473899.20%                    1/0/00
11              819719.71%                    1/0/00
12              879879.70%                    1/2/00
13              881901.89%                    1/1/00
14              538443.17%                    1/2/00
15              746313.94%                    1/1/00
16              256686.78%                    1/0/00
17              394524.16%                    1/0/00
18              571033.31%                    1/0/00
19              816261.71%                    1/0/00
20              287205.13%                    1/0/00
21              617710.93%                    1/1/00
22             2412750.40%                    1/0/00
23              245019.10%                    1/3/00
24              239210.79%                    1/0/00
25              580206.60%                    1/0/00
26              394637.21%                    1/0/00
27              916206.32%                    1/0/00
28             1290256.01%                    1/2/00
29              323536.05%                    1/1/00
30              245458.35%                    1/1/00
31             1897545.61%                    1/0/00
32              471532.13%                    1/0/00
33              473787.17%                    1/0/00
34              493291.63%                    1/0/00
35              574422.97%                    1/0/00
36             1389173.57%                    1/0/00
37              738097.67%                    1/0/00
38              309003.41%                    1/0/00
39              252163.31%                    1/2/00
40              265206.18%                    1/1/00
41              277104.50%                    1/0/00
42              393900.64%                    1/0/00
43             1223187.97%                    1/0/00
44              495165.61%                    1/1/00
45             1281910.29%                    1/3/00
46              446851.05%                    1/3/00
47              551434.40%                    1/0/00
48              334387.53%                    1/0/00
49              229447.89%                    1/0/00
50             3670742.64%                    1/0/00
51             3347334.95%                    1/0/00
52              798343.17%                    1/3/00
53              487938.48%                    1/2/00
54              429399.73%                    1/0/00
55              716439.55%                    1/0/00
56              761951.58%                    1/0/00
57              395800.28%                    1/0/00
58              449949.33%                    1/2/00
59              405956.74%                    1/0/00
   Customer          ST GENDER             Education Customer Lifetime Value  \
0   RB50392  Washington    NaN                Master                     NaN
1   QZ44356     Arizona      F              Bachelor              697953.59%
2   AI49188      Nevada      F              Bachelor             1288743.17%
3   WW63253  California      M              Bachelor              764586.18%
4   GA49547  Washington      M  High School or Below              536307.65%
5   OC83172      Oregon      F              Bachelor              825629.78%
6   XZ87318      Oregon      F               College              538089.86%
7   CF85061     Arizona      M                Master              721610.03%
8   DY87989      Oregon      M              Bachelor             2412750.40%
9   BQ94931      Oregon      F               College              738817.81%
10  SX51350  California      M               College              473899.20%
11  VQ65197  California    NaN               College              819719.71%
12  DP39365  California    NaN                Master              879879.70%
13  SJ95423     Arizona    NaN  High School or Below              881901.89%
14  IL66569  California    NaN               College              538443.17%
15  BW63560      Oregon    NaN              Bachelor              746313.94%
16  FV94802      Nevada    NaN  High School or Below              256686.78%
17  OE15005        Cali    NaN               College              394524.16%
18  WC83389      Oregon    NaN               College              571033.31%
19  FL50705  California    NaN  High School or Below              816261.71%
20  ZK25313      Oregon    NaN  High School or Below              287205.13%
21  QK46697  Washington      M             Bachelors              617710.93%
22  YH23384     Arizona    NaN              Bachelor             2412750.40%
23  TZ98966      Nevada    NaN              Bachelor              245019.10%
24  HM55802  California    NaN              Bachelor              239210.79%
25  FS42516      Oregon    NaN               College              580206.60%
26  US89481  California    NaN              Bachelor              394637.21%
27  HS14476  Washington      M               College              916206.32%
28  GE62437          AZ    NaN               College             1290256.01%
29  EJ77678      Oregon    NaN                Master              323536.05%

     Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0       0.0                1000.0                    1/0/00   Personal Auto
1       0.0                  94.0                    1/0/00   Personal Auto
2   48767.0                 108.0                    1/0/00   Personal Auto
3       0.0                 106.0                    1/0/00  Corporate Auto
4   36357.0                  68.0                    1/0/00   Personal Auto
5   62902.0                  69.0                    1/0/00   Personal Auto
6   55350.0                  67.0                    1/0/00  Corporate Auto
7       0.0                 101.0                    1/0/00  Corporate Auto
8   14072.0                  71.0                    1/0/00  Corporate Auto
9   28812.0                  93.0                    1/0/00    Special Auto
10      0.0                  67.0                    1/0/00   Personal Auto
11      0.0                 110.0                    1/0/00   Personal Auto
12  77026.0                 110.0                    1/2/00  Corporate Auto
13  99845.0                 110.0                    1/1/00  Corporate Auto
14  83689.0                  70.0                    1/2/00  Corporate Auto
15  24599.0                  64.0                    1/1/00  Corporate Auto
16  25049.0                  67.0                    1/0/00   Personal Auto
17  28855.0                 101.0                    1/0/00   Personal Auto
18  51148.0                  72.0                    1/0/00   Personal Auto
19  66140.0                 101.0                    1/0/00  Corporate Auto
20  57749.0                  74.0                    1/0/00   Personal Auto
21  61040.0                  79.0                    1/1/00   Personal Auto
22  14072.0                  71.0                    1/0/00   Personal Auto
23      0.0                  73.0                    1/3/00  Corporate Auto
24  17870.0                  61.0                    1/0/00  Corporate Auto
25  97541.0                  72.0                    1/0/00   Personal Auto
26      0.0                 111.0                    1/0/00   Personal Auto
27  29723.0                  80.0                    1/0/00   Personal Auto
28  86584.0                 111.0                    1/2/00   Personal Auto
29  75690.0                  80.0                    1/1/00   Personal Auto

    Vehicle Class  Total Claim Amount
0   Four-Door Car            2.704934
1   Four-Door Car         1131.464935
2    Two-Door Car          566.472247
3             SUV          529.881344
4   Four-Door Car           17.269323
5    Two-Door Car          159.383042
6   Four-Door Car          321.600000
7   Four-Door Car          363.029680
8   Four-Door Car          511.200000
9   Four-Door Car          425.527834
10  Four-Door Car          482.400000
11            SUV          528.000000
12  Four-Door Car          472.029737
13            SUV          528.000000
14  Four-Door Car          307.139132
15  Four-Door Car           42.920271
16   Two-Door Car          454.245098
17            SUV          647.442031
18  Four-Door Car          308.981664
19  Four-Door Car          484.800000
20   Two-Door Car          355.200000
21   Two-Door Car           20.382876
22  Four-Door Car          511.200000
23  Four-Door Car          554.376763
24  Four-Door Car          439.200000
25  Four-Door Car          389.185006
26  Four-Door Car          799.200000
27  Four-Door Car           20.985105
28  Four-Door Car          532.800000
29  Four-Door Car          384.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [42]:


for column in insurance_df.select_dtypes(include='object').columns:
    unique_values = insurance_df[column].unique()
    print(f"Column '{column}' has {len(unique_values)} unique values:")
    print(unique_values)
    print()

insurance_df.describe(include="object")

Column 'Customer' has 1072 unique values:
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Column 'ST' has 9 unique values:
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]

Column 'GENDER' has 6 unique values:
[nan 'F' 'M' 'Femal' 'Male' 'female']

Column 'Education' has 7 unique values:
['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]

Column 'Customer Lifetime Value' has 1028 unique values:
[nan '697953.59%' '1288743.17%' ... '2031499.76%' '323912.47%'
 '899704.02%']

Column 'Number of Open Complaints' has 7 unique values:
['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]

Column 'Policy Type' has 4 unique values:
['Personal Auto' 'Corporate Auto' 'Special Auto' nan]

Column 'Vehicle Class' has 7 unique values:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1068,1071,1071,1071
unique,1071,8,5,6,1027,6,3,6
top,RB50392,Oregon,F,Bachelor,445811.34%,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,4,830,780,576

In [43]:
insurance_df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# Your code here

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here